// Loading Section

.loading-section {
  position: fixed;
  height: 100vh;
  width: 51%;
  background-color: $navy;
  z-index: 1000;
}

.loading-left {
  left: 0;
}

.loading-right {
  right: 0;
}

.loading-icon {
  position: fixed;
  left: 40vw;
  top: 38vh;
  z-index: 1001;
  vertical-align: middle;
  background: url(../images/c-b-logo.png) no-repeat center center;
  background-size: cover;
  width: 20vw;
  height: 20vw;
}

.slide-left {
  transform: translateX(200%);
  // left: -100$;
  transition: transform 1.5s 2s ease-out;
}

.slide-right {
  transform: translateX(-200%);
  // right: -100%;
  transition: transform 1.5s 2s ease-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

// Responsive Nav

.show-responsive-nav {
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  background-color: $navy;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  transition: all .25s ease-out;
}

.hide-responsive-nav {
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  background-color: $navy;
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all .25s ease-in;
}

.show-responsive-nav ul,
.hide-responsive-nav ul {
  width: 100%;
  display: block;
  color: $white;
  text-align: center;
  transition: all .25s ease-in;
  padding-left: 0px !important;
}

.show-responsive-nav li,
.hide-responsive-nav li {
  color: $white;
  font-size: 36px;
  text-align: center;
  padding: 3vh 0px;
}

.show-responsive-nav li a,
.hide-responsive-nav li a  {
  color: $white;
}

.close-nav {
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 1vw;
  font-size: 100px;
  transform: rotate(45deg);
  color: $white;
}

.hero h6 {
  font-size: 18px;
  padding-top: 30px;
}

.wedding-section {
  color: $navy;
  text-align: center;
  background-color: $light-grey;
}

.wedding-section h1 {
  color: $navy;
  margin: 50px 0px;
}

.wedding-section h3 {
  color: $navy;
  padding: 20px 0px;
  margin: 20px 0px;
  border-bottom: 1px solid $navy;
}

.wedding-section a{
  color: $navy;
  text-decoration: none;
}

.wedding-section a:hover,
.wedding-section a:visited {
  color: $navy;
  text-decoration: none;
  cursor: pointer;
}

.wedding-section p {
  font-size: 16px;
}

// Detail Section
.quote,
.quote h1 {
  text-align: center;
  margin: 60px 15px 40px 15px;
  color: $navy;
}

.quote h6 {
  color: $navy;
  text-align: right;
  // margin-bottom: 50px;
}

.save-the-date-image-holder {
  width: 100%;
  height: 100%;;
  background: url('../images/marblehead-map.png') no-repeat center center;
  background-size: cover;
}

.save-the-date-content-container {
  width: 100%;
  padding: 250px 0px;
  background-color: rgba(0,0,0,.65);
}

@media screen and (max-width: 767px) {
  .save-the-date-content-container {
    padding: 150px 0px;
  }
}

.accom-2 h1 {
    margin-bottom: 60px;
    margin-top: 25px;
    color: $navy;
}

.rsvp h1,
.rsvp-2 h1 {
  color: $navy !important;
  margin-top: 25px;
  margin-bottom: 60px;
}

.registry h1 {
  color: $navy;
  margin-top: 25px;
  margin-bottom: 60px !important;
}

.gallery {
  max-width: 1170px;
  margin: 0px auto;
}

.slide-item {
  width: 100%;
  height: auto;
  background-color: #ccc;
}

.test {
  width: 100%;
  height: auto;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accom-img {
  width: 100%;
  height: 100%;
  // margin-left: 10%;
  object-fit: cover;
}

.owl-gallery,
.gallery,
.gallery-2 {
  height: 100% !important;
}

.owl-controls {
  display: none !important;
}

a.footer-link {
  color: $grey !important;
  text-decoration: none;
}

a.footer-link:hover,
a.footer-link:visited {
  color: $grey !important;
  text-decoration: none;
}

.footer h6{
  color: $grey !important;
}

.alert {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 60px;
  position: fixed;
  z-index: 1000;
}
.rsvp-2 .form-wrapper {
  margin-bottom: 50px;
}

.accom-container:before,
.registry-1 a:before,
.registry-1 a img:before {
  display: block;
  border-top: 3px solid $navy;
  padding-top: 5px;
  content: '';
  transform: scaleX(0.0001);
  transition: transform .5s ease-in-out;
}

.accom-container:hover:before,
.registry-1 a:hover:before,
.registry-1 a img:hover:before{
  transform: scaleX(1);
  transition: transform .5s ease-in-out;
}

.menu > li,
.menu > li > .inner-link {
  color: $white !important;
}

.menu > li:before {
  display: block;
  border-top: 2px solid $white;
  padding-top: 2px;
  content: '';
  transform: scaleX(0.0001);
  transition: transform .15s ease-in-out;
}

.menu > li:hover:before{
  transform: scaleX(1);
  color: $white;
  transition: transform .25s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}
