@media screen and (max-width: 767px) {
  .save-the-date-content-container {
    padding: 150px 0px;
  }
  .header h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .wedding-section h1 {
    margin: 25px 0px 0px;
  }
}
