body {
  // font-size: 16px !important;
}

h1 {
  font-size: 2em;
  line-height: 44px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: -3px;
}
h2 {
  font-size: 1.666em;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
h3 {
  font-size: 1.444em;
  line-height: 34px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: -1px;
}
h4 {
  font-size: 1.444em;
  line-height: 34px;
  font-weight: 300;
}
h5 {
  font-size: 1.25em;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}
// h6 {
//   font-size: 1em
// }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.25em;
  }
}
